{%extends './base.html'%}

{%block body_block%}
<h1>Posts</h1>

{%if posts%}
<div class="container">
    <div class="row">
        {%for post in posts%}
            {%if post.is_publicated%}
                <div class="card col-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">This post was made by {{post.author}} and posted in {{post.published_date}}</p>
                        <div class="text-muted">Comments: {{post.comments.all.count}}</div>
                        <a href="{%url 'posters:detail' id=post.id%}" class="btn btn-primary">Read</a>
                    </div>
                </div>
            {%endif%}
        {%endfor%}
    </div>
</div>
{%else%}
<h2>Sorry, we are without posts!</h2>
{%endif%}
{%endblock%}