{%extends './base.html'%}
{%block body_block%}
<div class="jumbotron">
    <div class="badge badge-primary text-wrap large-font">Author: {{post.author}}</div>
    <h1>{{post.title}}</h1>
    <div class="text-nowrap text-break" id="content">{{post.body}}</div>
</div>
<div class="flex-row-reverse">
    {%if user.is_authenticated and user == post.author%}
    <a href="{%url 'posters:delete_post' id=post.id%}" class="btn btn-danger btn-margin">Delete Post</a>
    <a href="{%url 'posters:edit' id=post.id%}" class="btn btn-success btn-margin">Edit Post</a>
    {%else%}
    <a class='btn btn-primary' href="{%url 'posters:new_comment' id=post.id%}">Comment</a>
    {%endif%}
</div>
<ul class="list-group">
    {%for comment in post.comments.all%}
    <li class="list-group-item">
        {%if user.is_authenticated and user == post.author%}
        <a href="{%url 'posters:delete_comment' comment_id=comment.id%}" class="btn btn-danger btn-margin float-right">
            <i class="float fas fa-times-circle"></i>
        </a>
        {%endif%}
        <div class="text-break html-inside">
            {{comment.body_text}}
        </div>
        <div>
            <div class="badge badge-danger text-wrap">{{comment.author}}</div>
            <div class="badge badge-primary text-wrap">{{comment.published_date}}</div>
        </div>

    </li>
    {%endfor%}
</ul>
{%endblock%}