.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 7.5px;
    overflow: hidden;
}

.large-font{
    font-size: medium;
}

.margin-top{
    margin-top: 5px;
}